* {
  font-size: 18px;
  font-family: Roboto;
}

:root {
  --main: #5f498a;
  --main-dark: #33274a;
  --main-ligth: #9275ac;
  --background: #f7f7f7;
  --gray-light: #cecece;
  --gray: #7d7d7d;
  --gray-black: #393939;

  --success: #28b463;
}
